
<div class="footer">
    <div class="content has-text-centered">
      <p>
        &copy; 2023 <a href="<%- config.root %>"><%= config.author %></a><br>
        Thanks to hexo(theme griddy) and Github Pages
      </p>
    </div>
</div>
